# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch
*.VC.db
*.VC.VC.opendb

# Compiled Dynamic libraries
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.lib

# media files
*.aac
*.h264
*.mp4

# log files
*.txt

# Executables
#*.exe
*.out
*.app
/Debug/
/x64/
/.vs/
/Streamer/Debug/
/Streamer/x64/
/MediaPlayer/Debug/
/jrtp-test/
*.DS_Store
